# Backend
backend/target/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

*.class
*.log

# Env
.env
.env.local

.DS_Store
Thumbs.db

gradle-temp.zip
.gradle/
build/
gradle/
